{% extends 'recipes/base.html' %}
{% load static %}

{% block header %}
<h1>{% block title %}{{ object.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="ui items">
  <div class="item">
    <div class="image">
      {% if recipe.photo %}
      <a href="{{recipe.photo.url}}" target="_blank"><img class="ui image" src="{{recipe.thumbnail.url}}" /></a>
      {% else %}
      <img class="ui image" src="{% static 'recipes/no-photo.jpg'%}">
      {% endif %}
    </div>
    <div class="content">
      <a class="header">{{ object.name }}</a>
      <div class="meta">
        <p>{{ object.description }}</p>
        <p>{{ object.steps|linebreaks }}</p>
      </div>
      <div class="description">
        <div class="ui celled list">
          {% for ingredient in recipe.ingredients.all|dictsort:"position" %}
          <div class="item">
            <div class="content">
              <div class="header">{{ ingredient.ingredient.name }}</div>
              {{ ingredient.quantity }} {{ ingredient.measure.short_name }}
              {% if ingredient.measure.volume %}
              = {{ ingredient.volume }} мл
              {% endif %}
              {% if ingredient.weight %}
              = {{ ingredient.weight }} г
              {% endif %}
              {% if ingredient.comment %}
              ({{ ingredient.comment }})
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="meta">
        <p>{{ object.after }}</p>
      </div>
      <div class="extra">
        <div class="ui mini label">{{ object.program.name }}</div>
        <div class="ui mini label"><i class="ui clock icon"></i>{{ object.program.duration }}</div>
        <div class="ui mini label"><i class="ui balance scale icon"></i>{{ object.weight }} г</div>
        {% if object.crust %}
        <div class="ui mini label"><i class="ui adjust icon"></i>{{ object.get_crust_display }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}